
body{
	background-color: #ecf0f3;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ecf0f3),color-stop(100%,#dde4ea));
}


.midleBar{
	background: #505963;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 100px rgba(0,0,0,0.2);
	background-image: -webkit-linear-gradient(top,rgba(40,53,70,0),rgba(18,35,57,0.55)),-webkit-radial-gradient(25% 0,200% 300%,#6d7885,#111417);
	height: 10em;
	margin-top: 30em;
}

.midleBar label{
	color: white;
	text-align: center;
}


#home-signup-email{
	height: 40px;
	width: 302px;
	
}

#home-signup-button{
	height: 40px;
	width: 302px;
	
}

.homeImages{
	
	width: 52%;
	float: right;
	height: 28em;
}

.homeText{
	width: 48%;
	float: left;
}

.content{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.homeData{
	margin-top: 2em;
	display: inline;
}

.tableDiv 
{
	
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.clear
{
	margin-top: 1em;
	margin-botton: 1em;
}

.addButton
{
	float: right;
}

.tablePagination
{
	
	float: right;
}


.cardapioTable
{
	float:right;	
}

.cardapioForm
{
	float: left;
}



.formLogin
{
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	
	width: 30em;
}


.athleteImg{
	width: 6em;
	height: 2em;
	float: left;
	margin-top: -3em;
}

.myhero{
	margin-bottom: 5em;
}

.athleteName{
	float: right;
	margin-top: -3em;
}